:root {
  --primary: #023e8a;
  --dark: #03045e;
  --secondary: #48cae4;
  --ligth: #caf0f8;
  /* font-family: 'Ballet', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}

/*  NAVBAR */
.nav {
  color: white;
  background-color: var(--dark);
  position: sticky;
  top: 0;
  z-index: 10;
}
.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  padding: 20px;
}
.container__nav-title {
  font-size: 2.5rem;
  font-family: "Ballet";
}
#burger {
  font-size: 2.5rem;
}
/* BURGUER BUTTON ANIMATION */
.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}
.animation:before {
  transform: translateY(12px) rotate(135deg);
}
.animation:after {
  transform: translateY(-12px) rotate(-135deg);
}
.animation div {
  transform: scale(0);
}
/* BURGUER BUTTON LINKS*/
.container__nav-links ul{
  display: none;
}
.container__nav-links .nav-links-ul{
  display: block;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
  list-style: none;
  font-family: 'Roboto';
  
}
.nav-links-ul li{
  padding: 20px 10px;
  text-align: center;
}
.nav-links-ul li a{
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

/* MAIN*/

.main{
  min-width: 300px;
  width: 60%;
  max-width: 850px;
  margin: 0 auto;
}
.container__services{
  display: grid;
  justify-content: center;
  margin-top: 30px;
}
.container__services h2{
  color: var(--dark);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.container__services p{
  color: rgba(82, 80, 80, 0.849);
  text-align: center;
}
.container__services-service {
  position: relative;
  height: 200px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container__services-service:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) inset , 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}
.container__services-service h3{
  position: relative;
  z-index: 3;
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 20px;
}
.container__services-service img{
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.5;
}

/*  FAQS*/

.container__faqs{
  padding: 20px;
}
.container__faqs h2{
  color: var(--dark);
  font-size: 2.5rem;
  text-align: center;
}
.container__faqs-faq{
  margin-top: 10px;
}
.container__faqs-faq p{
  font-size: 1.5rem;
}
.container__faq-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--primary);

}

.container__faq-text span{
  transform: rotate(90deg);
  transition: all 0.5s;
}
.transition-arrow{
  transform: rotate(-90deg) !important;
}
.faqs-text{
  display: none;
  margin-bottom: 20px;
}